<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FSV42_FullMapReplacement.Properties.Settings.map_updatesConnectionString"
            connectionString="Data Source=XXXXXXXXX;Initial Catalog=map_updates;User ID=XXXXXXX;Password=XXXXXXXX;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
